<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Properity Details</h1>


<p>
    Want to buy this properity?<br/>
    Here is its details:<br/>

    For only BHD <%= current.price %><br/>
    You can aquire a properity on street <%= current.streetAddress %><br/>
    The properity is <%= current.size %> m<sup>2</sup><br/>

    <!-- <%# if (user._id == current.owner._id) { %>  -->
    <% if (current.owner._id.equals(user._id)) { %> 
     You own this
     <form action="/listing/<%= current._id %>?_method=DELETE" method="post">
        <button type="submit">Delete the listing</button>
     </form>

     <a href="/listing/<%= current._id %>/edit">Edit theListing</a>
     
    <% } else { %>
        Contact its owner: <%= current.owner.username %><br/>
        <% } %>
</p>
<img src="<%= current.image.url %>" alt="cool picture of the properity" width="100%">
<br/>
<br/>
<section>
    <h2>Favorites</h2>


    <% if ( current.favoritedByUsers.length  === 0 ) { %>
            <p>No one favorited this listing yet.</p>
        <% } else if ( current.favoritedByUsers.length  === 1) { %>
            <p>Favorited by <%= current.favoritedByUsers.length %> person.</p>
        <% } else { %>
            <p>Favorited by <%= current.favoritedByUsers.length %> people.</p>
        <% } %>
    
    
    <% if (userHasFavorited) { %>
        <form action="/listing/<%= current._id %>/unfavorited-by/<%= user._id %>?_method=DELETE" method="post">
            <button type="submit">Unfavorite</button>
        </form>
    <% } else { %>
        <form action="/listing/<%= current._id %>/favorited-by/<%= user._id %>" method="post">
            <button type="submit">Favorite</button>
        </form>
        <% } %>
        
</section>
<br/>
<br/>
<section>
    <h2>Questions about this listing?</h2>
    <form action="/listing/<%= current._id %>/questions" method="post">
      <center><textarea name="text" rows="4"  style="width: 80%; "></textarea></center><br/>
        <button type="submit">Submit Question</button>
    </form>
</section>

<section>
    <h3>Questions by users</h3>
    <ul>
        <% current.questions.forEach((item) => { %>
         <li>
            <%= item.author.username %> says: <%= item.text %>
         </li>
        <% }) %>
    </ul>
</section>
</body>
</html>